{% set monitoring = salt['grains.filter_by']({
  'Ubuntu': {
    'version': {
      'opg_docker_monitoring': 'latest',
      'opg_docker': 'latest'
    },
    'server': {
      'elasticsearch': {
        'data_dir': '/data/elasticsearch'
      },
      'grafana': {
        'data_dir': '/data/grafana'
      },
      'graphite': {
        'data_dir': '/data/graphite'
      },
      'logstash': {
        'conf_dir': '/data/logstash'
      }
    }
  }
}, merge=salt['pillar.get']('monitoring'), default='Ubuntu') %}
