{% set beats = salt['grains.filter_by']({
    'Ubuntu-14.04': {
        'ecs_agent_dirs': [
          '/etc/ecs',
          '/var/log/ecs',
          '/var/lib/ecs/data'
          ],
        'ecs_config_file': '/etc/ecs/ecs.config'
    }
}, grain='osfinger', merge=salt.pillar.get('ecs'), default='Ubuntu-14.04') %}
