{% set mongodb = salt['grains.filter_by']({
    'Ubuntu-14.04': {
        'dbpath': '/data',
        'databases': {},
        'noprimarybackup': 'true',
        'configuration': {
          'auto_initiate_replica_set_params': None,
          'databases': {}
        },
        'rs': None,
        'rs_members': [],
        'auth': None,
        'key_string': None,
        'use_native_package': False,
    }
}, grain='osfinger', merge=salt['pillar.get']('mongodb',{})) %}
