{% set ntp = salt['grains.filter_by']({
    'Debian': {
        'servers': ['0.amazon.pool.ntp.org iburst', '1.amazon.pool.ntp.org iburst',
                    '2.amazon.pool.ntp.org iburst', '3.amazon.pool.ntp.org iburst'],
    },
}, merge=salt['pillar.get']('ntp', default={ }, )) %}
